<!-- Recherche d'un utilisateur -->
<div class="search-bar">
  <input 
    [(ngModel)]="userId" 
    type="number" 
    class="styled-input" 
    placeholder="Enter user ID"
  />
  <button (click)="getOne()" class="intro__button unbutton">Rechercher</button>
  <!-- Bouton Ajouter -->
<button *ngIf="!userDetails" (click)="showAddUserForm()" class="intro__button unbutton">+</button>
</div>



  <!-- Formulaire pour ajouter un utilisateur -->
  <div *ngIf="isAddUserVisible">
    <form class="search-bar" (ngSubmit)="createUser()">
      <input class="styled-input" [(ngModel)]="newUser.firstname" type="text" placeholder="Prénom" required />
      <input class="styled-input" [(ngModel)]="newUser.lastname" type="text" placeholder="Nom" required />
      <input class="styled-input" [(ngModel)]="newUser.pic" type="text" placeholder="URL de la photo" />
      <button type="submit" class="intro__button unbutton">Ajouter</button>
    </form>
  </div>

<!-- Afficher l'utilisateur recherché -->
<div class="content center" *ngIf="userDetails">
  <app-user-item [user]="userDetails"></app-user-item>

  <!-- Modifier un utilisateur -->
  <div class="search-bar">
    <input class="styled-input" [(ngModel)]="userDetails.firstname" type="text" placeholder="Nouveau prénom"/>
    <input class="styled-input" [(ngModel)]="userDetails.lastname" type="text" placeholder="Nouveau nom"/>
    <button (click)="updateUser()" class="intro__button unbutton">Modifier</button>
  </div>

  <!-- Supprimer un utilisateur -->
  <div class="padding-bottom">
    <button (click)="deleteUser()" class="intro__button unbutton">Supprimer</button>
  </div>
</div>

<!-- Afficher tous les utilisateurs uniquement si aucune recherche n'a été effectuée -->
<div class="content" *ngIf="!userDetails">
  <app-user-item *ngFor="let user of users" [user]="user"></app-user-item>
</div>




<!-- Ajouter un utilisateur 
<div>
  <h2>Ajouter un nouvel utilisateur</h2>
  <p>Prénom :</p>
  <input [(ngModel)]="newUser.firstname" type="text" />
  <p>Nom :</p>
  <input [(ngModel)]="newUser.lastname" type="text" />
  <button (click)="createUser()">Ajouter l'utilisateur</button>
</div>
-->




