<!-- Afficher un utilisateur -->
<figure class="item">
    <div class="item__img glitch" [style.--img]="'url(' + user.pic + ')'">
        <div class="glitch__img"></div>
        <div class="glitch__img"></div>
        <div class="glitch__img"></div>
        <div class="glitch__img"></div>
        <div class="glitch__img"></div>
    </div>
    <div
      class="item__cover"
      [style.backgroundImage]="'url(' + user.pic + ')'"
    ></div>
    <figcaption class="item__content">
        <h3 class="item__content-title">
            {{ user.firstname }}
        </h3>
        <h4 class="item__content-label">{{ user.firstname }} {{ user.lastname }}</h4>
    </figcaption>
</figure>